.block-home-structure {
 color: #fff;
}
.block-home-structure .triangle{
    text-align: center;
    position: relative;

       margin-left: -70px;
         margin-right: -50px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 350px 130px 350px;
border-color: transparent transparent #363636 transparent;

/*overflow: hidden;*/
}

.block-home-structure .triangle-mini{
    text-align: center;
    position: relative;

     margin-left: 35px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 280px 110px 280px;
border-color: transparent transparent #363636 transparent;

/*overflow: hidden;*/
}

/*.block-home-structure .triangle:before{
    top: 0;
    left: -700px;
    position: absolute;
     content: "";

width: 0;
height: 0;
border-style: solid;
border-width: 130px 350px 0 350px;
border-color: #ffffff transparent transparent transparent;
}
.block-home-structure .triangle:after{
    top: 0;
    right:  -700px;
    position: absolute;
     content: "";

width: 0;
height: 0;
border-style: solid;
border-width: 130px 350px 0 350px;
border-color: #ffffff transparent transparent transparent;
}*/

.block-home-structure .triangle div{
    margin-top: 10px;
    font-size: 12px;
    width: 700px;

    /*padding-top: 25px;*/
    border-bottom:  1px solid #6c6c6c;
    text-align: center;
    margin-left: -350px;
     padding-bottom: 10px;
    vertical-align:middle;

}
.block-home-structure .triangle-mini div{
    margin-top: 10px;
    font-size: 12px;
    width: 700px;

    /*padding-top: 25px;*/
    border-bottom:  1px solid #6c6c6c;
    text-align: center;
    margin-left: -350px;
     padding-bottom: 5px;
    vertical-align:middle;

}
.block-home-structure .triangle div.lv1{
  padding-top: 25px;

  width: 280px;
 margin-left: -140px;

}
.block-home-structure .triangle-mini div.lv1{
  padding-top: 20px;

  width: 210px;
 margin-left: -105px;

}
.block-home-structure .triangle div.lv2{
 width: 483px;
 margin-left: -242px;


}
.block-home-structure .triangle-mini div.lv2{
 width: 380px;
 margin-left: -190px;


}
.block-home-structure .triangle div.lv3{

     border-bottom:  0;
}

.block-home-structure .triangle-mini div.lv3{

     border-bottom:  0;
}


.block-home-structure .poles{
    margin-top: 10px;
    margin-left: -70px;
     margin-right: -50px;
}
.block-home-structure .poles-mini{
    margin-top: 10px;
     margin-left: 70px;
}
.block-home-structure .poles div{
    margin:0;
    padding: 0;
    background-color: #363636;
    display: inline-block;

    text-align: center;
    font-size: 12px;
    height: 100px;
    width: 80px;
    vertical-align: middle;
    line-height: 100px;
    margin-right: 122.5px;

}
.block-home-structure .poles-mini div{
    margin:0;
    padding: 0;
    background-color: #363636;
    display: inline-block;

    text-align: center;
    font-size: 10px;
    height: 60px;
    width: 60px;
    vertical-align: middle;
    line-height: 60px;
    margin-right: 70px;


}

.block-home-structure .poles .lvp-1{

}
.block-home-structure .poles .lvp-2{

}
.block-home-structure .poles .lvp-3{

}
.block-home-structure .poles .lvp-4{
    margin-right: -50px;
}
.block-home-structure .poles-mini .lvp-4{
    margin-right: -50px;
}

.block-home-structure .base{
    margin: 0;
    padding: 0;
     margin-top: 5px;
 margin-left: -69px;
     margin-right: -60px;

}
.block-home-structure .base-mini{
    margin: 0;
    padding: 0;
     margin-top: 5px;
margin-left: 10px;


}
.block-home-structure .base .base-group{
    margin: 0;
    padding: 0;
    width: 230px;
      display: inline-block;
      text-align: center;
    /*background-color: #363636;*/
}
.block-home-structure .base-mini .base-group{
    margin: 0;
    padding: 0;
    width: 200px;
      display: inline-block;
      text-align: center;
    /*background-color: #363636;*/
}

.block-home-structure .base .base-group.last{
  margin-right: -70px;
}
.block-home-structure .base-mini .base-group.last{
  /*margin-right: -70px;*/
}
.block-home-structure .base .base-group .base-item-group{
    margin: 0;
    padding: 0;
}
.block-home-structure .base-mini .base-group .base-item-group{
    margin: 0;
    padding: 0;
}
.block-home-structure .base .base-group .base-item-group .base-item{
    background-color: #363636;
    vertical-align: middle;
    height: 50px;
    line-height: 10px;
    width: 72.9px;
    display: inline-block;
    font-size: 8px;
    font-weight: 300;
    margin: 0;
    padding: 0;

    margin-top: 4px;
    margin-right: 1px;
    padding-top: 15px;
    padding-right: 2px;
    padding-left: 2px;

}
.block-home-structure .base-mini .base-group .base-item-group .base-item{
    background-color: #363636;
    vertical-align: middle;
    height: 40px;
    line-height: 10px;
    width: 62.9px;
    display: inline-block;
    font-size: 8px;
    font-weight: 300;
    margin: 0;
    padding: 0;

    margin-top: 4px;
    margin-right: 1px;
    padding-top: 15px;
    padding-right: 2px;
    padding-left: 2px;

}
.block-home-structure .base .base-group  .base-item-line-group{
    margin: 0;
    padding: 0;
    background-color: #363636;
     width: 230px;
       height: 25px;
       font-size: 12px;
       line-height: 25px;
       margin-top: 3px;
       font-style: italic;
}
.block-home-structure .base-mini .base-group  .base-item-line-group{
    margin: 0;
    padding: 0;
    background-color: #363636;
     width: 199.5px;
       height: 25px;
       font-size: 10px;
       line-height: 25px;
       margin-top: 3px;
       font-style: italic;
}
