.page-content-des-info .des{
  font-size: 16px !important;
  line-height: 25px !important;
}
.content-page-middle.report3{
  height: 550px !important;
  padding-left: 70px;
  padding-right: 70px;
}
.content-page-middle.report3 p{
  margin-bottom: 35px;
  font-size: 20px;
}
