body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #fffee6;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    /*border: 1px #D3D3D3 solid;*/
    /*border-radius: 5px;*/
    /*background: white;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    position: relative;
    padding: 1cm;
    /*border: 5px red solid;*/
    height: 256mm;
    

    /*outline: 2cm #FFEAEA solid;*/
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

}
.footer{
    color: #fffee6;
    font-size: 12px;
   
    position: absolute;
 left: 50%;
 margin-left: -100px;
    top: 1000px;
}

/*.bg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: inherit;
    background: rgba(24,24,24,0.7);
}*/
@media print {

}
.bg-grey{
    background-color: #37353a;
}
.bg-cream{
    background-color: #fffee6;
}
.txt-color-cream{
    color: #fffee6 !important;
}
.txt-color-white{
    color: #fff !important;
}
.bg{
    background-image:url('http://cdn2.editmysite.com/images/editor/theme-background/stock/Skyscrapers.jpg');
    height: 500px;
    background-size: cover;
    margin-top: -3cm;
    margin-left: -3cm;
    margin-right: -3cm;
 


    background-repeat: no-repeat ;
    background-position: 50% 50% ;
    background-size: 100% ;
    background-color: transparent ;
    background-size: cover;
 
}

.bg-trans{
     background: rgba(24,24,24,0.7);
      height: 500px;
      padding-top: 125px;

}
.paper-title{
     background: rgba(24,24,24,0.5);
     text-align: center;
     padding: 70px 0 70px 0;

}
.paper-title h1{
    font-size: 45px;
}

.paper-title h1,.paper-title h2{
 margin: 0px;
 padding: 0px;
 font-family: 'Lato', sans-serif;
font-weight: 300;
    line-height: normal;

}
.paper-title h2{
    margin-top: 20px;
     font-size: 30px;
}



.first-page-des{
    text-align: center;
    padding-top: 200px
    
}
.first-page-des h1{
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
.first-page-des h2{
        font-size: 30px;
       margin: 0px;
    padding: 0px;
    margin-top: 40px;
}
.first-page-des h3{
    font-style: italic;
    font-size: 30px;
     margin: 0px;
    padding: 0px;

}

/*page 2 */

.page-2-des{
    padding-top: 350px;
/*color: #fff;*/
    font-weight: normal;
}
.page-2-des h1{
    
      font-style: italic;
      font-size: 18px;
      text-align: center;
}
.page-2-des h2{
font-size: 18px;
text-align: right;
}

/*page3*/

.page-3-des{

/*color: #fff;*/
font-weight: normal;

}
.page-3-des h1{
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     margin-top: -3cm;
    margin-left: -3cm;
    margin-right: -3cm;
    background-color: #000;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-size: 40px;
}
.page-3-des p{
     margin-bottom: 40px;
    font-size: 22px;
}
.page-3-des p span.num{
    color: #d0e53d;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: 0px;
    padding: 0px;

    font-size: 30px;

}
.page-3-des p.p3-title{
    margin-top: 80px;
     color: #d0e53d;
     font-size: 30px;
}
.page-3-des p.p3-title-2{
     color: #d0e53d;
      font-size: 30px;
}



/**/

/*page4*/
.page-4-des{
/*color: #fff;*/
font-weight: normal;
}
.vertical-text {

    /*transform-origin: left top 0;*/
}
.page-4-des h1{
    position: relative;
     font-family: 'Lato', sans-serif;
     font-weight: 300;
    padding: 0px;
    margin: 0px;
text-align: center;
       
        color: #fff;
        transform: rotate(-90deg);
    width: 29.5cm;
    height: 93px;
          margin-top: 10.05cm;
          /*margin-left: 500px;*/
         
          font-size: 73px;
          line-height: 167px;
           z-index: 999;
}
.page-4-des .page-4-right{
    position: absolute;
    right: -76px;
    top: -75px;
 background-color: #000;
  width: 4cm;
    min-height: 29.6cm;
    z-index: 0;
}

.page-4-des h3{
font-size: 34px;
}
.page-4-des h2{
    padding-right: 100px;
    
}

/*page5*/
.page-5-des{
/*color: #fff;*/
font-weight: normal;
}

/*363636*/

.page-5-des h1{
    color: #000;
    text-align: center;
    margin-top: -30px;
     margin-left: -30px;
     margin-right: -30px;
    font-size: 48px;
    font-weight: 300;
     letter-spacing: 2px;
}
.block-home-structure {

}
.block-home-structure .triangle{
    position: relative;
     
       margin-left: -70px;
         margin-right: -50px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 350px 130px 350px;
border-color: transparent transparent #363636 transparent;

/*overflow: hidden;*/
}

.block-home-structure .triangle:before{
    top: 0;
    left: -700px;
    position: absolute;
     content: "";
   
width: 0;
height: 0;
border-style: solid;
border-width: 130px 350px 0 350px;
border-color: #fffee6 transparent transparent transparent;
}
.block-home-structure .triangle:after{
    top: 0;
    right:  -700px;
    position: absolute;
     content: "";
   
width: 0;
height: 0;
border-style: solid;
border-width: 130px 350px 0 350px;
border-color: #fffee6 transparent transparent transparent;
}

.block-home-structure .triangle div{
    margin-top: 10px;
    font-size: 12px;
    width: 700px;

    /*padding-top: 25px;*/
    border-bottom:  1px solid #6c6c6c;
    text-align: center;
    margin-left: -350px;
     padding-bottom: 10px;
    vertical-align:middle; 
   
}



.block-home-structure .triangle div.lv1{
  padding-top: 25px;

    
}
.block-home-structure .triangle div.lv3{

     border-bottom:  0;
}


.block-home-structure .poles{
    margin-top: 10px;
    margin-left: -70px;
     margin-right: -50px;
}
.block-home-structure .poles div{
    margin:0;
    padding: 0;
    background-color: #363636;
    display: inline-block;
    
    text-align: center;
    font-size: 12px;
    height: 100px;
    width: 80px;
    vertical-align: middle;
    line-height: 100px;
    margin-right: 122.5px;

}
.block-home-structure .poles .lvp-1{
    
}
.block-home-structure .poles .lvp-2{
    
}
.block-home-structure .poles .lvp-3{
    
}
.block-home-structure .poles .lvp-4{
    margin-right: -50px;
}


.block-home-structure .base{
    margin: 0;
    padding: 0;
     margin-top: 5px;
 margin-left: -69px;
     margin-right: -60px;

}
.block-home-structure .base .base-group{
    margin: 0;
    padding: 0;
    width: 230px;
      display: inline-block;
      text-align: center;
    /*background-color: #363636;*/
}
.block-home-structure .base .base-group.last{
  margin-right: -70px;
}
.block-home-structure .base .base-group .base-item-group{
    margin: 0;
    padding: 0;
}

.block-home-structure .base .base-group .base-item-group .base-item{
    background-color: #363636;
    height: 60px;
    line-height: 60px;
    width: 72.9px;
    display: inline-block;
    font-size: 6px;
    font-weight: 300;
    margin: 0;
    padding: 0;

    margin-top: 4px;
    margin-right: 1px;
    
}
.block-home-structure .base .base-group .base-item-group .base-item-line-group{
    margin: 0;
    padding: 0;
}


